.header {
  width: 968px;
  height: 200px;
  background: url(../img/Headers-img.jpg) no-repeat;
  margin: auto;
}

h1 {
  color: red;
  padding: 60px 0 0 40px;
}

.header__nav {
  background: #0e3f82;
  width: 920px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 920px;
  margin-top: 100px;
  padding-left: 7px;
}

.navbar__link {
  color: white;
  border-right: 2px solid white;
  background-color: #0e3f82;
  text-transform: uppercase;
  padding: 10px 68.7px;
  margin-right: 1.3px;
  
}

.navbar__link--and {
  border-right: none;
}

.navbar__link:hover {
  color: goldenrod;
  font-weight: bold;
  border-right: 2px solid white;
  padding: 9px 67.7px;
  margin-right: 1.4px;
  
}
